<header>
		<app-menu></app-menu>
	</header>
	<main>
			<div class="container-fluid">
				<div class="row grade-cursos">
					<div class="col-md-4">
					  <p class="text-center">
						<img alt="Simbolo Juridico" src="assets/img/administrativo.jpg"
						class="simbolo-curso"/>
						Cursos na área <span class="texto-destaque">Administrativa</span>
					  </p>
					</div>
					<div class="col-md-4">
					  <p class="text-center">
						<img alt="Simbolo Juridico" src="assets/img/contabilidade.jpg"
						class="simbolo-curso"/>
						Cursos na área <span class="texto-destaque">Contábil</span>
					  </p>
					</div>
					<div class="col-md-4">
					  <p class="text-center">
						<img alt="Simbolo Juridico" src="assets/img/juridico.jpg"
						class="simbolo-curso"/>
						Cursos na área <span class="texto-destaque">Jurídica </span>
					  </p>
				  </div>
				  </div>
          
			<div>
					<h1 class="text-center titulo-destaque">Alavanque sua carreira com os cursos da Atual. </h1>
					<h3 class="text-center subtitulo">Faça seu curso na hora que quiser, onde você quiser! </h3>
			</div>

      <div class="col-xs-12 col-sm-12" >
		  <app-destaque></app-destaque>

				<div class="row" >
					<div id="maisProcurados" class="texto-destaque fundo-invertido titulo-grade-destaque">
						<h3 class="text-center">Mais Procurados</h3>
					</div>
					<div class="curso-box col-xs-12 col-md-3 text-center thumbnail wow fadeInUp" data-wow-delay="0s">
						<figure>
							<img class="imagem-curso" src="assets/img/tecnica-vendas.jpg" alt="Tecnica de vendas" />

							<div>
								<h4>Técnica de vendas</h4>
								<p>Aprenda a fechar negócios e realizar vendas nesse curso.</p>
							</div>
						</figure>

<!--						<div class="btn-group">
							<a href="#" class="btn btn-default">R$ 190,00</a>
							<a href="#" class="btn btn-primary">
								<span class="glyphicon glyphicon-shopping-cart"></span>
								Matricule-se
							</a>
						</div>
-->					</div>
					<div class="curso-box col-xs-12 col-md-3 text-center thumbnail wow fadeInUp" data-wow-delay="0s">
						<figure>
							<img class="imagem-curso" src="assets/img/adm-condominio.jpg" alt="Administração de condominio" />

							<div>
								<h4>Administração de condomínio</h4>
								<p>Aprenda a arte da administração de condomínios nesse curso.</p>
							</div>
						</figure>

<!--						<div class="btn-group">
							<a href="#" class="btn btn-default">R$ 210,00</a>
							<a href="#" class="btn btn-primary">
								<span class="glyphicon glyphicon-shopping-cart"></span>
								Matricule-se
							</a>
						</div>
-->					</div>
					<div class="curso-box col-xs-12 col-md-3 text-center thumbnail wow fadeInUp" data-wow-delay="0s">
						<figure>
							<img class="imagem-curso" src="assets/img/curso-contabilidade.jpg" alt="Camisa azul nacional" />

							<div>
								<h4>Contabilidade</h4>
								<p>Aprenda contabilidade na prática, preparando-se para o mercado de trabalho.</p>
							</div>
						</figure>

<!--						<div class="btn-group">
							<a href="#" class="btn btn-default">R$ 90,00</a>
							<a href="#" class="btn btn-primary">
								<span class="glyphicon glyphicon-shopping-cart"></span>
								Matricule-se
							</a>
						</div>
-->					</div>
					<div class="curso-box col-xs-12 col-md-3 text-center thumbnail wow fadeInUp" data-wow-delay="0s">
						<figure>
							<img class="imagem-curso" src="assets/img/contabilidade-curso.jpg" alt="Camisa azul nacional" />

							<div>
								<h4>Assistente contábil</h4>
								<p>Aprenda contabilidade na prática, preparando-se para o mercado de trabalho.</p>
							</div>
						</figure>

<!--						<div class="btn-group">
							<a href="#" class="btn btn-default">R$ 90,00</a>
							<a href="#" class="btn btn-primary">
								<span class="glyphicon glyphicon-shopping-cart"></span>
								Matricule-se
							</a>
						</div>
-->					</div>
				</div>
      </div>
      
		</div>
	</main>
	<footer>
	    <p>Rua Juri Danilenko, 2696 - Sobreloja, Vila Mariana, Piraquara - PR - CEP 83311-090</p>
	    <p>Telefone: (41) 3557-0343 </p>
		<p>Whats: (41) 99634-2143
	</footer>