<section class="jumbotron ">

  <h1 class="">Sobre nós</h1>
  
  <h3>
    A Atual Cursos é uma empresa formada por profissionais qualificados,
    que tem por objetivo formar profissionais com um método moderno,
    inovador e dinâmico de ensino, preparando o aluno para o atual exigente
    mercado de trabalho com treinamento teórico e prático e com um suporte 
    de profissionais com longa experiência na área de atuação, proporcionando
    ao aluno segurança e conhecimento atualizado, qualificando de forma eficiente
    e eficaz para que possa se tornar um profissional de sucesso.
  </h3>
</section>